body {
    background-image: url("../img/fondo.jpg"); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    
}



.banner{
    text-align: center;
}

h2 {
    color: white;
}

/* Estilo del contenedor del encabezado */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
}

/* Estilo del logo */
.logo {
    max-width: 100px; 
    margin-right: 10px; 
}

/* Estilo de la barra de navegación */
.navbar-light .navbar-toggler {
    border-color: rgb(135, 133, 133);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' rgb(135, 133, 133') stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.button-color{
    background-color: #fff !important;
}

.nav.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Estilo de los elementos de la lista de navegación */
.nav.nav-tabs .nav-item {
    margin-right: 20px;
}

/* Estilo de los enlaces de la lista de navegación */
.nav.nav-tabs .nav-item a {
    text-decoration: none;
    color: rgb(135, 133, 133); /* Color del texto */
    font-weight: bold;
    padding: 10px 70px;
    border-bottom: 2px solid transparent; /* Línea transparente por defecto */
    transition: border-bottom-color 0.3s ease; /* Transición suave para el color de la línea */
}



p {
    color: rgb(135, 133, 133);
    font-weight: bold;
}

/* Estilos para el carousel */
#carouselExampleAutoplaying {
    margin: auto; 
    width: 100%; 
}

.carousel-item img {
    width: 100%; 
    height: 300%; 
    max-height: 400px; 
    object-fit: contain; 
}

h2.banner.text-light {
    font-size: 32px; 
    font-weight: bold; 
    color: #fff; 
    margin: 20px 0; 
    text-align: center;
}



/* Estilos para los videos */
.section-container .video-container {
    position: relative;
    width: 560;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.section-container .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    background-color:  rgb(50, 50, 50); /* Color de fondo */
    padding: 5px 0;
    color: #fff;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer p {
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-media-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-media-links a {
    color: #fff;
    text-decoration: none;
}

.social-media-links a:hover {
    text-decoration: underline;
}

.footer form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer button[type="submit"] {
    padding: 10px 20px;
    background-color: #fff; /* Color de fondo del botón */
    color: #4CAF50; /* Color del texto */
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer button[type="submit"]:hover {
    background-color: #eee; /* Cambia el color de fondo al pasar el mouse */
}


