body {
    background-image: url("../img/fondo.jpg"); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    
}

.banner{
    text-align: center;
}

/* Estilo del contenedor del encabezado */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
}

/* Estilo del logo */
.logo {
    max-width: 100px; 
    margin-right: 10px; 
}

/* Estilo de la barra de navegación */
.nav.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Estilo de los elementos de la lista de navegación */
.nav.nav-tabs .nav-item {
    margin-right: 20px;
}

/* Estilo de los enlaces de la lista de navegación */
.nav.nav-tabs .nav-item a {
    text-decoration: none;
    color: rgb(135, 133, 133); /* Color del texto */
    font-weight: bold;
    padding: 10px 70px;
    border-bottom: 2px solid transparent; /* Línea transparente por defecto */
    transition: border-bottom-color 0.3s ease; /* Transición suave para el color de la línea */
}

p {
    color: rgb(135, 133, 133);
    font-weight: bold;
}

/* Estilos para el carousel */
#carouselExampleAutoplaying {
    margin: auto; /* Centra horizontalmente el carrusel */
    width: 100%; /* Define el ancho del carrusel */
}

.carousel-item img {
    width: 100%; /* Hace que las imágenes sean responsivas y ocupen todo el ancho del carrusel */
    height: 300%; /* Ajusta automáticamente la altura de las imágenes para mantener la proporción */
    max-height: 400px; /* Define la altura máxima de las imágenes */
    object-fit: contain; /* Hace que las imágenes se ajusten dentro de sus contenedores sin recortarlas */
}

